<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head xmlns:th="https://www.thymeleaf.org">-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <link th:href="@{/css/default.css}" type="text/css" rel="stylesheet">-->
<!--    <link th:href="@{/css/font-awesome.min.css}" type="text/css" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />-->
<!--    <link th:href="@{/css/tailwind-elements.min.css}" type="text/css" rel="stylesheet">-->
<!--    <script th:src="@{/js/jquery.min.js}"></script>-->
<!--    <script th:src="@{/js/tailwind.js}"></script>-->
<!--    <script th:src="@{/js/alpine.js}"></script>-->
<!--    <script th:src="@{/js/sweetalert.js}"></script>-->
<!--    <script th:src="@{/js/echarts.min.js}"></script>-->
<!--    <script th:src="@{/js/common.js}"></script>-->
<!--    <script th:src="@{/js/axios.min.js}"></script>-->
<!--    <script>-->
<!--    tailwind.config = {-->
<!--      theme: {-->
<!--        extend: {-->
<!--          fontFamily: {-->
<!--            sans: ['Inter', 'sans-serif'],-->
<!--          },-->
<!--        }-->
<!--      }-->
<!--    }-->
<!--    </script>-->
<!--</head>-->
<head xmlns:th="https://www.thymeleaf.org" th:replace="admin/common/head_meta::head_meta"></head>
<title>Buza Management System</title>
<body class="bg-gray-50">
<link href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">
<script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
<!--<script th:src="@{/js/admin/post.js}"></script>-->
<div class="min-h-full font-mono">
    <div th:replace="admin/common/layout::top"></div>
    <div th:replace="admin/common/layout::footer"></div>
    <header class="header-top">
        <!--        <div class="max-w-7xl mx-auto py-4 px-4 sm:px-4 lg:px-6 grid grid-cols-12">-->
        <div class="header-container ">
            <h3>Setting - 포스트 Craete</h3>
            <!--            <div class="header-container-menu">-->
            <!--                <a href="/admin/setting.ahn" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500 hover:underline hover:underline-offset-8 hover:decoration-wavy">사용자관리</a>-->
            <!--                <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500 hover:underline hover:underline-offset-8 hover:decoration-wavy">권한관리</a>-->
            <!--                <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500 hover:underline hover:underline-offset-8 hover:decoration-wavy">메뉴관리</a>-->
            <!--                <a href="/admin/setting/common_code.ahn" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500 hover:underline hover:underline-offset-8 hover:decoration-wavy">공통코드관리</a>-->
            <!--            </div>-->
        </div>
    </header>
    <main class="main-container" id="app">
        <div class="">
            <!-- Main Contents Start -->
<!--            <input type="hidden" v-model="selectedItem.userSeq" />-->
            <el-form v-bind:inline="true" label-width="80px">
                <el-form-item label="是否发布">
                    <el-switch v-model="selectedItem.status"></el-switch>
                </el-form-item>
                <el-form-item label="是否发布">
                    <el-switch v-model="selectedItem.status"></el-switch>
                </el-form-item>
            </el-form>
            <el-form>
                <el-form-item label="标题">
                    <el-input v-model="selectedItem.postTitle"></el-input>
                </el-form-item>
            </el-form>
                <div class="post-content" style="margin-bottom: 10px; font-size:12px; color:#475569">
                    <p class="post-content-label">
                        Post Content
                    </p>
                    <div id="editor—wrapper">
                        <div id="toolbar-container"><!-- 工具栏 --></div>
                        <div id="editor-container"><!-- 编辑器 --></div>
                    </div>
                </div>

            <el-button type="primary" v-on:click="saveItem(selectedItem)" icon="el-icon-edit">Save</el-button>

            <!-- // Main Contents End -->
        </div>
    </main>
</div>
<style>
    .post-content {}
    .post-content .post-content-label { font-size:13px; color:#475569; font-weight: bold}
</style>
<script th:src="@{/js/tailwind-elements.min.js}"></script>
<style>
    #editor—wrapper {
        border: 1px solid #ccc;
        z-index: 100; /* 按需定义 */
    }
    #toolbar-container { border-bottom: 1px solid #ccc; }
    #editor-container { height: 400px; }
</style>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data() {
            return {
                loading: true,
                selectedItem: {},
            }
        },
        mounted() {

        },
        methods: {
            saveItem(item) {
                console.log(editor.getHtml());
                const _this = this;
                if (Tool.isEmpty(item.postId)) {
                    if(Tool.isEmpty(item.postTitle)) { _this.$message.info("username必填"); return; }
                }

                _this.selectedItem.status = _this.selectedItem.status === true ? "1" : "0";
                _this.selectedItem.postType = "01";
                axios.post("/api/post/proc.do", _this.selectedItem)
                    .then(response => {
                        if (response.data.code !== 0) {
                            _this.$message.error(response.data.msg);
                        } else {
                            _this.selectedItem = {};
                            _this.$alert('点击确定返回列表页', response.data.msg, {
                                confirmButtonText: '确定',
                                callback: action => {
                                    BuzaRouter("/admin/post.ahn");
                                }
                            })

                        }
                    })
                    .catch(error => {
                        _this.$message.error("Request Error!")
                    });
            }
        }
    });
</script>
<script>
    const { createEditor, createToolbar } = window.wangEditor;

    const editorConfig = {
        placeholder: 'Type here...',
        onChange(editor2) {
            const html = editor2.getHtml();
        }
    }
    const editor = createEditor({
        selector: '#editor-container',
        html: '<p><br></p>',
        config: editorConfig,
        mode: 'default', // or 'simple'
    })

    const toolbarConfig = {};

    const toolbar = createToolbar({
        editor,
        selector: '#toolbar-container',
        config: toolbarConfig,
        mode: 'default', // or 'simple'
    });

</script>
</body>
</html>
