<div th:fragment="file-select">

    <script type="text/x-template" id="file-select-component2">
        <div class="BoilerGraph">your BoilerGraph template at here!</div>
    </script>

    <template id="file-select-component">
        <div class="BoilerGraph">asdfasdfsdf!</div>
    </template>

    <script>
        var boiel = Vue.component('BoilerGraph', {
            template: '#file-select-component',
            data() {
                return {
                    fileseelctcomposntnet : 'asdfsdfsdafsdfasdfsdfsdafsdf'
                }
            },
            methods: {

            }
        });
    </script>

</div>
