<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="https://www.thymeleaf.org" th:replace="admin/common/head_meta::head_meta"></head>
<title>Buza Management System</title>
<body class="bg-gray-50">
<div class="min-h-full font-mono">
    <div th:replace="admin/common/layout::top"></div>
    <div th:replace="admin/common/layout::footer"></div>
    <header class="header-top">
        <!--        <div class="max-w-7xl mx-auto py-4 px-4 sm:px-4 lg:px-6 grid grid-cols-12">-->
        <div class="header-container">
            <h3>Setting - Classification</h3>
            <div th:replace="admin/setting/setting_submenu::setting_submenu"></div>
        </div>
    </header>
    <main class="main-container" id="app" v-loading="loading">
        <div class="">
<!--            <treeselect v-model="value" :multiple="true" :options="options" />-->
            <!-- Main Contents Start -->
            <!-- Top Search Form Box Start -->
<!--            <el-tree-->
<!--                    v-bind:data="treeItems"-->
<!--                    default-expand-all-->
<!--                    highlight-current-->
<!--                    expand-on-click-node="false"-->
<!--                    node-key="id">-->
<!--                <span class="custom-tree-node" slot-scope="{ node, data }">-->
<!--                    <span>{{ node.data.label }}</span>-->
<!--                    <span>-->
<!--                        <el-tag style="margin-right: 10px;" v-bind:type="node.data.status == '1' ? 'success' : 'danger'" size="mini">{{ node.data.statusName }}</el-tag>-->
<!--                        <el-button type="text" size="mini" v-on:click="() => append(node)"> Append </el-button>-->
<!--                        <el-button type="text" size="mini"> Delete </el-button>-->
<!--                    </span>-->
<!--                </span>-->
<!--            </el-tree>-->
            <div class="">
                <el-tabs v-model="activeTabName" type="card" v-on:tab-click="handleTabClick">
                    <el-tab-pane label="Search" name="searchTab">
                        <p>검색준비중</p>
                    </el-tab-pane>
                </el-tabs>
            </div>
            <!-- // Top Search Form Box End -->
            <!-- Result List Start -->
            <div class="">
                <div>
                    <treeselect v-model="value" v-bind:multiple="true" v-bind:options="options" />
                </div>
                <div style="text-align: right;">
                    <el-button size="small" icon="el-icon-plus" v-on:click="handleDrawerOpen" style="text-align: right;">Add New Classification</el-button>
                </div>
                <div class="overflow-x-auto relative">
                    <el-table v-bind:data="itemList" style="width: 100%; margin-top: 1.5rem;">
                        <el-table-column prop="classificationId" label="classificationId" v-if="false"></el-table-column>
                        <el-table-column prop="rn" label="Rn" width="50"></el-table-column>
                        <el-table-column prop="classificationType" label="Type" width="100"></el-table-column>
                        <el-table-column prop="classificationName" label="Name" width="150"></el-table-column>
                        <el-table-column prop="parentClassificationName" label="parent" width="150"></el-table-column>
                        <el-table-column prop="sortOrder" label="sort" width="150"></el-table-column>
                        <el-table-column prop="status" align="center" label="status" width="120">
                            <template slot-scope="scope">
                                <el-tag type="danger" v-if="scope.row.status == '0'"> {{ scope.row.statusName }} </el-tag>
                                <el-tag type="success" v-if="scope.row.status == '1'"> {{ scope.row.statusName }} </el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column prop="createTime" v-if="false" label="CreateTime" width="220"></el-table-column>
                        <el-table-column prop="updateTime" v-if="false" label="UpdateTime" width="220">
                            <template slot-scope="scope">
                                {{ scope.row.updateTime || '-' }}
                            </template>
                        </el-table-column>
                        <el-table-column label="Action" align="center" >
                            <template slot-scope="scope">
                                <el-button type="primary" v-on:click="handleDrawerOpen(scope.row)" icon="el-icon-edit" circle></el-button>
                                <el-button type="danger" v-on:click="handleConfirmOpen(scope.row.classificationId)" icon="el-icon-delete" circle></el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <el-row style="margin: 2rem 0;">
                    <el-col :span="12" :offset="6">
                        <el-pagination
                                v-on:size-change="handleSizeChange"
                                v-on:current-change="handleCurrentChange"
                                v-bind:current-page="currentPage"
                                v-bind:page-sizes="pageSizes"
                                v-bind:page-size="pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                v-bind:total="total">
                        </el-pagination>
                    </el-col>
                </el-row>

            </div>

            <!-- // Result List End -->

            <!-- // Main Contents End -->
        </div>

        <!-- Drawer Start -->
        <el-drawer
                v-bind:title="drawerTitle"
                v-bind:visible.sync="drawer"
                direction="rtl" size="100%"
                v-bind:before-close="handleDrawerClose">
            <div class="drawer-container" style="padding: 20px;">
                <div v-if="modalType == 1">
                    <input type="hidden" v-model="selectedItem.classificationId" />
                    <el-form ref="form" label-width="150px">
                        <el-form-item label="ID" v-if="selectedItem.classificationId != null">
                            <el-input v-model="selectedItem.classificationId" disabled></el-input>
                        </el-form-item>
                        <el-form-item label="Name">
                            <el-input v-model="selectedItem.classificationName"></el-input>
                        </el-form-item>
                        <el-form-item label="Type">
                            <el-input v-model="selectedItem.classificationType"></el-input>
                        </el-form-item>
                        <el-form-item label="Parent">
                            <el-select v-on:visible-change="handleParentSelectChange" v-model="selectedItem.parentClassificationId" placeholder="请选择">
                                <el-option
                                        v-for="item in oneDepthItems"
                                        v-bind:key="item.classificationId"
                                        v-bind:label="item.classificationName"
                                        v-bind:value="item.classificationId">
                                </el-option>
                            </el-select>
<!--                            <el-cascader-->
<!--                                    v-bind:options="treeItems"-->
<!--                                    v-bind:props="{ multiple: true, checkStrictly: true }"-->
<!--                                    v-model="parentId"-->
<!--                                    clearable></el-cascader>-->
                        </el-form-item>
                        <el-form-item label="SORT">
                            <el-input v-model="selectedItem.sortOrder"></el-input>
                        </el-form-item>

                        <el-form-item label="是否激活">
                            <el-switch v-model="selectedItem.status"></el-switch>
                        </el-form-item>
                        <el-form-item label="CREATE_TIME" v-if="selectedItem.classificationId != null">
                            <el-input v-model="selectedItem.createTime"></el-input>
                        </el-form-item>
                    </el-form>
                </div>
                <el-button type="danger" v-on:click="drawerHide">取 消</el-button>
                <el-button type="primary" v-if="modalType == 1" v-on:click="saveItem(selectedItem)">保存用户</el-button>
            </div>
        </el-drawer>
        <!-- // Drawer End -->

    </main>
</div>
<style>
    .custom-tree-node { flex: 1; display: flex; align-items: center; justify-content: space-between; font-size: 14px; padding:0 12px; }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        Vue.component('treeselect', VueTreeselect.Treeselect)
        new Vue({
            el: '#app',
            data() {
                return {
                    itemList: [],
                    roleList: [],
                    modifyUserItem: {},
                    selectedItem: {},
                    modalType: 1, // 1:新增权限/修改权限
                    roleIdChecked: [],
                    loading: true,
                    currentPage: 1, //page
                    pageSize: 5, //limit
                    pageSizes: [5,20,30,50],
                    total: 100,
                    activeTabName: 'searchTab',
                    drawer: false,
                    drawerTitle: 'titel title',
                    treeItems: [],
                    oneDepthItems: [],
                    twoDepthItems: [],
                    value: null,
                    // define options
                    options: [ {
                        id: 'a',
                        label: 'a',
                        children: [ {
                            id: 'aa',
                            label: 'aa',
                        }, {
                            id: 'ab',
                            label: 'ab',
                        } ],
                    }, {
                        id: 'b',
                        label: 'b',
                    }, {
                        id: 'c',
                        label: 'c',
                    } ],
                }
            },
            created() {
                const _this = this;
                _this.initMainList();
                _this.getClassificationTree();
            },
            methods: {
                handleSizeChange(limit) {
                    this.currentPage = 1;
                    this.pageSize = limit;
                    this.initMainList();
                },
                handleCurrentChange(page) {
                    this.currentPage = page;
                    this.initMainList();
                },
                handleTabClick(tab, event) {
                    console.log(tab, event);
                },
                handleDrawerOpen(row) {
                    const _this = this;
                    console.log(row);
                    if (Tool.isEmpty(row.classificationId)) {
                        _this.drawerTitle = "Add New Classification";
                        _this.selectedItem = {};
                        _this.getAllOneDepthClassificaiton();
                    } else {
                        _this.drawerTitle = row.classificationName + "'s modify";
                        _this.getMainDetail(row.classificationId);
                    }
                    _this.drawer = true;
                },
                handleDrawerClose(done) {
                    this.$confirm('确认关闭？')
                        .then(_ => {
                            done();
                        })
                        .catch(_ => {});
                },
                handleConfirmOpen(classificationId) {
                    console.log(classificationId);
                    const _this = this;
                    _this.$confirm('确定删除此用户信息吗, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.get(contextRootPath + '/api/setting/classification/delete.do?classificationId=' + classificationId)
                            .then(response => {
                                if (response.data.code !== 0) {
                                    _this.$message.error(response.data.msg);
                                } else {
                                    _this.$message.success(response.data.msg);
                                    _this.initMainList();
                                }
                            })
                            .catch(() => {
                                _this.$message.error('报错， 请刷新页面重试');
                            });

                    }).catch(() => {
                        _this.$message.info('报错， 请刷新页面重试');
                    });
                },
                drawerHide() {
                    let _this = this;
                    _this.drawer = false;
                    _this.selectedItem = {};
                },
                saveItem(item) {
                    let _this = this;
                    if (Tool.isEmpty(item.classificationId)) {
                        if(Tool.isEmpty(item.classificationName)) { _this.$message.info("Name必填"); }
                    }

                    _this.selectedItem.status = _this.selectedItem.status === true ? "1" : "0";
                    _this.selectedItem.parentClassificationId = _this.selectedItem.parentClassificationId === undefined ? "0" : _this.selectedItem.parentClassificationId;
                    axios.post(contextRootPath + "/api/setting/classification/modify.do", _this.selectedItem)
                        .then(response => {
                            if (response.data.code !== 0) {
                                _this.$message.error(response.data.msg);
                            } else {
                                _this.selectedItem = {};
                                _this.drawerHide();
                                _this.$message.success(response.data.msg);
                                _this.initMainList();
                            }
                        })
                        .catch(error => {
                            _this.$message.error("Request Error!")
                        });
                },
                initMainList() {
                    let _this = this;
                    const params = {

                    }
                    axios.post(contextRootPath + "/api/setting/classification/list.do?page=" + _this.currentPage + "&limit=" + _this.pageSize, params).then((response) => {
                        console.log(response.data.data);
                        _this.itemList = response.data.data;
                        _this.total = response.data.total;
                        _this.loading = false;
                    })
                },
                getMainDetail(classificationId) {
                    const _this = this;
                    axios.get(contextRootPath + "/api/setting/classification/detail.do?classificationId=" + classificationId)
                        .then(response => {
                            if (response.data.code !== 0) {
                                _this.$message.error(response.data.msg);
                            } else {
                                _this.selectedItem = response.data.data;
                                _this.selectedItem.status = _this.selectedItem.status == '1' ? true : false;
                                _this.getAllOneDepthClassificaiton();
                            }
                        })
                        .catch(error => {
                            _this.$message.error("Axios Error!");
                        });
                },
                getClassificationTree() {
                    const params = {};
                    axios.post(contextRootPath + "/api/setting/classification/tree.do", params).then((response) => {
                        console.log("tree start");
                        console.log(response.data.data);
                        this.treeItems = response.data.data;
                        console.log("tree end");
                    });
                },
                append(data) {
                    console.log(data)
                },
                getAllOneDepthClassificaiton() {
                    let _this = this;
                    const params = {}
                    axios.post(contextRootPath + "/api/setting/classification/all_one_depth.do", params).then((response) => {
                        _this.oneDepthItems = response.data.data;
                    });
                },
                getAllTwoDepthClassificaiton() {
                    let _this = this;
                    const params = {}
                    axios.post(contextRootPath + "/api/setting/classification/all_two_depth.do", params).then((response) => {
                        _this.twoDepthItems = response.data.data;
                    });
                },
                handleParentSelectChange() {
                    let _this = this;
                    _this.getAllOneDepthClassificaiton();
                }
                // methods End
            }
        });
    });
</script>
</body>
</html>
