<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="https://www.thymeleaf.org" th:replace="admin/common/head_meta::head_meta"></head>
<title>Buza Management System</title>
<body class="bg-gray-50">
<div class="min-h-full font-mono">
    <div th:replace="admin/common/layout::top"></div>
    <div th:replace="admin/common/layout::footer"></div>
    <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-4 px-4 sm:px-4 lg:px-6 grid grid-cols-12">
            <h1 class="text-xl font-bold text-gray-900 col-span-4">Setting - 공통코드관리</h1>
            <div th:replace="admin/setting/setting_submenu::setting_submenu"></div>
        </div>
    </header>
    <main class="mt-3 ">
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 bg-white rounded-xl shadow-md">
            <!-- Main Contents Start -->
            <!-- Top Search Form Box Start -->
            <div class="">
                <div class=" grid grid-cols-1 rounded-lg shadow-md p-3">
                    <!-- Top Tabs Start -->
                    <ul class="nav nav-tabs flex flex-col md:flex-row flex-wrap list-none border-b-0 pl-0 mb-4" id="tabs-tabFill"
                        role="tablist">
                        <li class="nav-item text-center" role="presentation">
                            <a href="#tab-search" class="inline-flex items-center nav-link block font-medium text-xs leading-tight uppercase border-x-0 border-t-0 border-b-2 border-transparent px-6 py-3 my-2 hover:border-transparent hover:bg-gray-100 focus:border-transparent active" id="tabs-home-tabFill" data-bs-toggle="pill" data-bs-target="#tab-search" role="tab"
                               aria-controls="tab-search" aria-selected="true">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                </svg>
                                Search
                            </a>
                        </li>
                        <li class="nav-item text-center" role="presentation">
                            <a href="#tab-addNewCommonCode" class="inline-flex items-center nav-link block font-medium text-xs leading-tight uppercase border-x-0 border-t-0 border-b-2 border-transparent px-6 py-3 my-2 hover:border-transparent hover:bg-gray-100 focus:border-transparent"
                               id="tabs-profile-tabFill" data-bs-toggle="pill" data-bs-target="#tab-addNewCommonCode" role="tab"
                               aria-controls="tab-addNewCommonCode" aria-selected="false">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                </svg>
                                Add New
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="tabs-tabContentFill">
                        <div class="tab-pane fade show active" id="tab-search" role="tabpanel" aria-labelledby="tabs-home-tabFill">
                            <div class="grid grid-cols-5 gap-4">
                                <div class="col-span-3">
                                    <input class="form-control inline-block w-full px-1.5 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                           type="text" placeholder="ex: POST_TYPE, 공지사항, 01...." />
                                </div>

                                <div class="">
                                    <button type="button" class="inline-flex items-center text-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                        <!-- Heroicon name: solid/check -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                        </svg>
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-addNewCommonCode" role="tabpanel" aria-labelledby="tabs-profile-tabFill">
                            <div class="grid grid-cols-5 gap-4">
                                <div class="">
                                    <label for="codeTypeInput" class="form-label inline-block text-gray-700">
                                        Code Type
                                    </label>
                                    <input class="form-control inline-block w-full px-1.5 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                           type="text" id="codeTypeInput" placeholder="ex: POST_TYPE" />
                                </div>
                                <div class="">
                                    <label for="codeCdInput" class="form-label inline-block text-gray-700">
                                        Code CD
                                    </label>
                                    <input class="form-control inline-block w-full px-1.5 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                           type="text" id="codeCdInput" placeholder="ex: 01" />
                                </div>
                                <div class="">
                                    <label for="codeNameInput" class="form-label inline-block text-gray-700">
                                        Code Name
                                    </label>
                                    <input class="form-control inline-block w-full px-1.5 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                           type="text" id="codeNameInput" placeholder="ex: 공지사항" />
                                </div>

                                <div class="">
                                    <label for="codeSortInput" class="form-label inline-block text-gray-700">
                                        Sort
                                    </label>
                                    <input class="form-control inline-block w-full px-1.5 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                           type="text" id="codeSortInput" placeholder="ex: 1" />
                                </div>
                                <div class="">
                                    <label for="codeUseYnSelect" class="form-label inline-block text-gray-700">
                                        Use Y Or N
                                    </label>
                                    <select id="codeUseYnSelect" name="country" autocomplete="country-name" class="block w-full py-1.5 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                                <div class="col-span-3">
                                    <label for="codeRemarkInput" class="form-label inline-block text-gray-700">
                                        Remark
                                    </label>
                                    <input class="form-control inline-block w-full px-1.5 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                           type="text" id="codeRemarkInput" placeholder="Description for Code" />
                                </div>

                                <div class="pt-6">
                                    <button type="button" class="inline-flex items-center text-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                        <!-- Heroicon name: solid/check -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                                        </svg>
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // Top Tabs End -->
                </div>
            </div>
            <!-- // Top Search Form Box End -->
            <!-- Top Analysis Start -->

            <div class="flex sm:flex-none">
                <div class="md:w-full mt-5 space-x-5">
                    <div class="">
                        <div class="grid grid-cols-12 flex justify-center">
                            <h3 class="text-lg py-5 font-bold col-span-8 text-gray-700 ">Common Code List</h3>
                            <div class="col-span-4 text-right pt-4">
                                <span>View:</span>
                                <select id="pageViews" name="country" autocomplete="country-name" class="mt-1 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                        <div class="overflow-x-auto relative">
                            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="py-3 px-6">사용자이름</th>
                                    <th scope="col" class="py-3 px-6">아이디</th>
                                    <th scope="col" class="py-3 px-6">권한명</th>
                                    <th scope="col" class="py-3 px-6">연락처</th>
                                    <th scope="col" class="py-3 px-6">성별</th>
                                    <th scope="col" class="py-3 px-6">Wechat</th>
                                    <th scope="col" class="py-3 px-6">소속부서</th>
<!--                                    <th scope="col" class="py-3 px-6">가입일자</th>-->
                                    <th scope="col" class="py-3 px-6 text-right"></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                                            유재석
                                        </th>
                                        <td class="py-4 px-6">yujaeseok</td>
                                        <td class="py-4 px-6">최고관리자</td>
                                        <td class="py-4 px-6">185****5572</td>
                                        <td class="py-4 px-6">Man</td>
                                        <td class="py-4 px-6">jaeseok.1972</td>
                                        <td class="py-4 px-6">안테나</td>
    <!--                                    <td class="py-4 px-6">1900-01-01 18:23:21</td>-->
                                        <td class="py-4 px-6 text-right">
                                            <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500">상세보기</a>
                                            <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500">메뉴조회</a>
                                            <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500">정보수정</a>
                                            <a href="#" class="ml-5 text-md font-medium text-red-600 hover:text-red-500">삭제</a>
                                        </td>
                                    </tr>
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                                            유재석
                                        </th>
                                        <td class="py-4 px-6">yujaeseok</td>
                                        <td class="py-4 px-6">최고관리자</td>
                                        <td class="py-4 px-6">185****5572</td>
                                        <td class="py-4 px-6">Man</td>
                                        <td class="py-4 px-6">jaeseok.1972</td>
                                        <td class="py-4 px-6">안테나</td>
                                        <!--                                    <td class="py-4 px-6">1900-01-01 18:23:21</td>-->
                                        <td class="py-4 px-6 text-right">
                                            <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500">상세보기</a>
                                            <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500">메뉴조회</a>
                                            <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500">정보수정</a>
                                            <a href="#" class="ml-5 text-md font-medium text-red-600 hover:text-red-500">삭제</a>
                                        </td>
                                    </tr>
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                                            유재석
                                        </th>
                                        <td class="py-4 px-6">yujaeseok</td>
                                        <td class="py-4 px-6">최고관리자</td>
                                        <td class="py-4 px-6">185****5572</td>
                                        <td class="py-4 px-6">Man</td>
                                        <td class="py-4 px-6">jaeseok.1972</td>
                                        <td class="py-4 px-6">안테나</td>
                                        <!--                                    <td class="py-4 px-6">1900-01-01 18:23:21</td>-->
                                        <td class="py-4 px-6 text-right">
                                            <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500">상세보기</a>
                                            <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500">메뉴조회</a>
                                            <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500">정보수정</a>
                                            <a href="#" class="ml-5 text-md font-medium text-red-600 hover:text-red-500">삭제</a>
                                        </td>
                                    </tr>
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                                            유재석
                                        </th>
                                        <td class="py-4 px-6">yujaeseok</td>
                                        <td class="py-4 px-6">최고관리자</td>
                                        <td class="py-4 px-6">185****5572</td>
                                        <td class="py-4 px-6">Man</td>
                                        <td class="py-4 px-6">jaeseok.1972</td>
                                        <td class="py-4 px-6">안테나</td>
                                        <!--                                    <td class="py-4 px-6">1900-01-01 18:23:21</td>-->
                                        <td class="py-4 px-6 text-right">
                                            <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500">상세보기</a>
                                            <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500">메뉴조회</a>
                                            <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500">정보수정</a>
                                            <a href="#" class="ml-5 text-md font-medium text-red-600 hover:text-red-500">삭제</a>
                                        </td>
                                    </tr>
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                                            유재석
                                        </th>
                                        <td class="py-4 px-6">yujaeseok</td>
                                        <td class="py-4 px-6">최고관리자</td>
                                        <td class="py-4 px-6">185****5572</td>
                                        <td class="py-4 px-6">Man</td>
                                        <td class="py-4 px-6">jaeseok.1972</td>
                                        <td class="py-4 px-6">안테나</td>
                                        <!--                                    <td class="py-4 px-6">1900-01-01 18:23:21</td>-->
                                        <td class="py-4 px-6 text-right">
                                            <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500">상세보기</a>
                                            <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500">메뉴조회</a>
                                            <a href="#" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500">정보수정</a>
                                            <a href="#" class="ml-5 text-md font-medium text-red-600 hover:text-red-500">삭제</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Paging Start -->
                        <div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6 ">
                            <div class="flex-1 flex justify-between sm:hidden">
                                <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Previous </a>
                                <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Next </a>
                            </div>
                            <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                                <div>
                                    <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                                        <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                            <span class="sr-only">Previous</span>
                                            <!-- Heroicon name: solid/chevron-left -->
                                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                                            </svg>
                                        </a>
                                        <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
                                        <a href="#" aria-current="page" class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium"> 1 </a>
                                        <a href="#" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"> 2 </a>
                                        <a href="#" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 hidden md:inline-flex relative items-center px-4 py-2 border text-sm font-medium"> 3 </a>
                                        <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                            <span class="sr-only">Next</span>
                                            <!-- Heroicon name: solid/chevron-right -->
                                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                            </svg>
                                        </a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- //Paging End -->

                    </div>

                </div>
            </div>

            <!-- // Top Analysis End -->

            <!-- Button trigger modal -->
            <!-- Button trigger modal -->
            <!-- Button trigger modal -->
            <button type="button"
                    class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Launch static backdrop modal
            </button>

            <!-- Modal -->
            <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
                 id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none">
                    <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                        <div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                            <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalLabel">
                                Modal title
                            </h5>
                            <span data-bs-dismiss="modal" aria-label="Close">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                            </span>

                        </div>
                        <div class="modal-body relative p-4">
                            <div>asdf</div>
                            <div>asdf</div>
                            <div>asdf</div>
                            <div>asdf</div>
                        </div>
                        <div class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                            <button type="button" class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                                    data-bs-dismiss="modal">Close</button>
                            <button type="button"
                                    class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1">
                                Understood</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- // Main Contents End -->
        </div>
    </main>
</div>
<!--<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>-->
<script th:src="@{/js/tailwind-elements.min.js}"></script>
</body>
</html>