<div th:fragment="setting_submenu" class="header-container-menu">
    <a href="/admin/setting.ahn" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500 hover:underline hover:underline-offset-8 hover:decoration-wavy">사용자관리</a>
    <a href="javascript:alert('준비중, 좀만 대기')" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500 hover:underline hover:underline-offset-8 hover:decoration-wavy">권한관리</a>
    <a href="javascript:alert('준비중, 좀만 대기')" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500 hover:underline hover:underline-offset-8 hover:decoration-wavy">메뉴관리</a>
    <a href="/admin/setting/classification.ahn" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500 hover:underline hover:underline-offset-8 hover:decoration-wavy">공통코드관리</a>
    <a href="/admin/setting/common_code.ahn" class="ml-5 text-md font-medium text-indigo-600 hover:text-indigo-500 hover:underline hover:underline-offset-8 hover:decoration-wavy">공통코드관리</a>
</div>