<head th:fragment="head_meta">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/tailwind-default.css}" type="text/css" rel="stylesheet">
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/tailwind-3.4.3.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/alpine.js}"></script>

    <!--  <script>-->
    <!--    tailwind.config = {-->
    <!--      theme: {-->
    <!--        extend: {-->
    <!--          fontFamily: {-->
    <!--            sans: ['Inter', 'sans-serif'],-->
    <!--          },-->
    <!--        }-->
    <!--      }-->
    <!--    }-->
    <!--  </script>-->
</head>
