<head th:fragment="head_meta">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link th:href="@{/css/default.css}" type="text/css" rel="stylesheet">
  <link th:href="@{/css/font-awesome.min.css}" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
  <link th:href="@{/css/tailwind-elements.min.css}" type="text/css" rel="stylesheet">
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/tailwind.js}"></script>
<!-- tailwind-elements.min.js move to body end -->
<!--  <script th:src="@{/js/tailwind-elements.min.js}"></script>-->
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            sans: ['Inter', 'sans-serif'],
          },
        }
      }
    }
  </script>
  <script th:src="@{/js/alpine.js}"></script>
  <script th:src="@{/js/sweetalert.js}"></script>
  <script th:src="@{/js/echarts.min.js}"></script>
  <script th:src="@{/js/common.js}"></script>
</head>
