<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="https://www.thymeleaf.org" th:replace="business/common/head_meta::head_meta"></head>
<title>Buza</title>
<body style="background:#fff;">
<div>
  <!-- Top Start -->
  <div th:replace="business/common/layout::businessTop"></div>
  <!-- //Top End -->
  <div class="error-page" id="error-page">
    <h1 style="font-size:3rem; text-align: center; padding: 100px; ">오마이갓</h1>
  </div>
</div>
</body>
<script type="text/javascript">
  $(document).ready(function () {
    new Vue({
      el: '#error-page',
      data() {
        return {
        }
      },
      mounted() {

      },
      methods: {
      }
    });
  });
</script>
</html>
