
/**
primary:2563EB
success:10B981
warning:F59E0B
danger:EF4444
info:4B5563
color-text-primary:1F2937

.link-under:after { position: absolute; left: 0; bottom: 0; width: 0%; height: 1.2rem; background-color: #2AC1BC; opacity: .3; display: block; transition: .4s ease width; content: ''; }
.link-under:hover { color: #2AC1BC; }
.link-under:hover:after { width: 100%; }
 */

* {
    margin: 0;
    padding: 0;
    font-family: 'robot', sans-serif;
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
::-webkit-scrollbar { width: 8px; height:3px; }
::-webkit-scrollbar-track { /*background: #f1f1f1;*/ background: none; }
::-webkit-scrollbar-thumb { background: #64748b; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #64748b; }

*:focus { outline: none; }
*:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.business-header { -webkit-box-shadow: 0 4px 30px rgb(0 0 0 / 7%); backdrop-filter: blur(24px);
    box-shadow: 0 4px 30px rgb(0 0 0 / 7%); position: fixed; top:0; width:100%; background-color:transparent; z-index: 1000;}

.business-header .business-header-con { width: 100%; overflow: hidden; max-width: 1380px; height: 1.5rem; padding: 2.2rem 4rem; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; }
.business-header .business-header-con h1 a { color:black; }
.business-header .business-header-con .main-menu { display: flex; justify-content: center; align-items: center; }
.business-header .business-header-con .main-menu ul {  display: flex; justify-content: flex-end; gap: 34px;}
.business-header .business-header-con .main-menu ul li a { display: block; position: relative; padding:1.6rem 2rem; font-size:1.1rem; color:#000; }
.business-header .business-header-con .main-menu ul li a:before {content: ''; position: absolute; left: -1px; bottom: 1px; width: calc(100% + 2px); height: 2px; background-color: #38bdf8;
    -webkit-transform-origin: 0 0; transform-origin: 0 0;-webkit-transform: scaleX(0); transform: scaleX(0); transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.business-header .business-header-con .main-menu ul li:hover a:before {-webkit-transform: scaleX(1); transform: scaleX(1);}
.business-header .business-header-con .btn-small-menu { display: none;}
.business-header .business-header-con .submenu-drawer {}
.business-header .business-header-con .submenu-drawer .el-icon-close { font-size:34px;}
.business-header .business-header-con .sub-main-menu {}
.business-header .business-header-con .sub-main-menu ul li { margin-bottom: 30px; text-align: center;}
.business-header .business-header-con .sub-main-menu ul li a { display: block; color:#232324; padding: 10px 0; font-size: 2rem; font-weight: bold;}
.business-header .business-header-con .main-etc-menu { display: flex; justify-content: flex-end; justify-items: center;}
.business-header .business-header-con .main-etc-menu a { color:#000; padding: 5px;}

.business-container { width: 100%; max-width: 85rem; min-height: 100%; margin: 10px auto 0 auto; padding:4rem 4rem 15.8rem 4rem; }
.business-container .business-container-top { padding:2rem 0 1.4rem 0; }
.business-container .business-container-top h2 { color:#232324; text-align: center; line-height: 4rem; font-size: 2.5rem;}
.business-container .business-container-top h4 { color:#232324; text-align: center; line-height: 2.8rem; font-size: 1.2rem;}
.business-container .business-tab01 {  margin:4em auto ; border-bottom: 1px solid #eee; width: 100%; height:70px;  white-space: nowrap; overflow: hidden; overflow-x: auto; -webkit-backface-visibility: hidden; -webkit-overflow-scrolling: touch;}
.business-container .business-tab01 ul { display: flex; justify-content:center;}
.business-container .business-tab01 ul li { display:inline-block; }
.business-container .business-tab01 ul li a { cursor: pointer; font-size: 20px; font-weight: 900; position: relative; color:#d6d7da; padding: 10px 30px; }
.business-container .business-tab01 ul li a.current,
.business-container .business-tab01 ul li a:hover,
.business-container .business-tab01 ul li a:focus,
.business-container .business-tab01 ul li a:active { transition: color .4s ease-out,font-size .2s ease-out; color:#000;}
.business-container .business-tab01 ul li a.current { color:#000;}
.business-container .business-tab01 ul li a:before { content: ""; position: absolute; top: 50%; right: 0; display: inline-block;width: 1px;height: 16px;
    background-color: #d6d7da;-webkit-transform: translateY(-50%);transform: translateY(-50%);
}
.business-container .business-tab01 ul li:last-child a:before { width:0;}
.business-container .business-post-list { }
.business-container .business-post-list > ul { width: calc(100% + 4rem); margin-left:-2rem; display: flex; flex-wrap: wrap; justify-content: flex-start;}
.business-container .business-post-list > ul li { position:relative; width: calc(100% / 3); margin-bottom: 5rem; padding: 0 1.3rem; }
.business-container .business-post-list > ul li > a { display: flex; flex-direction: column; margin: 0; padding: 0; }
.business-container .business-post-list > ul li > p.thumbs a:hover  img { min-width: 130%; min-height: 130%;}
.business-container .business-post-list > ul li > a dl dt { color:#232324; }
.business-container .business-post-list > ul li > a dl dt a { color:#232324; }
.business-container .business-post-list > ul li > a:hover dl dt { color:#38bdf8; }
.business-container .business-post-list > ul li > a:hover dl dt a { color:#38bdf8; }
.business-container .business-post-list > ul li p.thumbs { position: relative; padding-top: 62.36%; overflow: hidden; }
.business-container .business-post-list > ul li p.thumbs img { position: absolute; top: 50%; left: 50%; min-width: 100%; max-width: none; min-height: 100%; width: auto; height: 100%; transform: translate(-50%, -50%); transition: .3s ease all;}
.business-container .business-post-list > ul li dl { margin-top: 1.2rem;}
.business-container .business-post-list > ul li dl dt { color:#000; font-size: 1.3rem; font-weight: 900; letter-spacing: -.1rem; line-height:2rem; transition: .3s ease all;}
.business-container .business-post-list > ul li dl dt a { color:#000; font-size: 1.3rem; font-weight: 900; letter-spacing: -.1rem; line-height:2rem; transition: .3s ease all;}
.business-container .business-post-list > ul li dl dd { color:#000; margin-top: 0.2rem; font-size:1rem; line-height: 2.3rem;}
.business-container .business-post-list > ul li dl dd a { color:#38bdf8; font-size: 12px; margin-top: 0.2rem; line-height: 2.3rem;}
.business-container .business-post-list .business_paging .el-pagination.is-background .btn-next,
.business-container .business-post-list .business_paging .el-pagination.is-background .btn-prev,
/*.business-container .business-post-list .business_paging .el-pagination__total,*/
/*.business-container .business-post-list .business_paging .el-pagination__jump,*/
.business-container .business-post-list .business_paging .el-pager li { min-width: 50px; height: 48px; line-height: 48px;font-size: 20px; }
.business-container .business-post-list .business_paging .el-pagination__sizes .el-input .el-input__inner { height: 48px; line-height: 48px; font-size:20px;}
.business-container .business-post-list .business_paging .el-pagination .el-select .el-input { width: 134px;}
.business-container .business-post-list .business_paging .el-pagination button { height: 48px; line-height: 48px; font-size: 20px; }

.business-post-detail-container { max-width: 780px; min-height: 100%; margin: 5rem auto 50px auto; padding-top:50px; line-height: 1.8; }
.business-post-detail h1 { line-height: 1.4; padding: 30px 0 50px 0; text-align: center; border-bottom: 1px solid #eee; margin-bottom:50px; }
.business-post-detail-category { font-size:16px; color:#38bdf8; padding: 20px 0 0 0; text-align: center;}
.btnRedirectList { margin: 25px auto 0 auto; text-align: center;}
.btnRedirectList a { display:inline-block; padding:20px 40px; color:#fff; background:#38bdf8; font-weight: bold;}
.btnLogin {margin: 0 10px;padding-left: 16px; align-items: center; padding-right: 16px; border:2px solid #000; border-radius: 17px; line-height: 1.8; font-weight: bold; font-size: 14px;}

/* Login And Register */
.login-etc-menu {margin:2em auto ;}
.login-etc-menu ul { display: flex; justify-content: center;}
.login-etc-menu ul li { display: inline-block;}
.login-etc-menu ul li a { cursor:pointer; font-size: 14px; font-weight: 900; position: relative;color: #9f9f9f; padding: 5px 20px;}
.login-etc-menu ul li a:hover,
.login-etc-menu ul li a:focus,
.login-etc-menu ul li a:active { transition: color .4s ease-out,font-size .2s ease-out; color:#000;}
.login-etc-menu ul li a:before {
    content: ""; position: absolute; top: 50%; right: 0; display: inline-block; width: 1px; height: 16px; background-color: #d6d7da;
    -webkit-transform: translateY(-50%); transform: translateY(-50%);
}
.login-etc-menu ul li:last-child a:before { width: 0;}


@media screen and (max-width: 980px) {
    .business-container { padding:4rem 1rem 5rem 1rem;}
    .business-post-detail-container { padding:15px 30px;}
    .business-container .business-post-list > ul li { position:relative; width: calc(100% / 2);}
    .business-post-detail div[data-w-e-type="video"] video { width: 100%;}
}

@media screen and (max-width: 720px) {
    .business-container { padding:4rem 2.5rem 5rem 2.5rem;}
    .business-post-detail-container { padding:15px 30px;}
    .business-header .business-header-con { padding: 2.2rem 1rem;}
    .business-container .business-post-list > ul li { border-bottom: 1px solid #ddd; position:relative; width: calc(100%);}
    .business-header .business-header-con .btn-small-menu { display: inline-block!important;}
    .business-header .business-header-con .main-menu {display: none;}
    .business-post-detail div[data-w-e-type="video"] video { width: 100%;}
}
