<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
<head xmlns:th="https://www.thymeleaf.org" th:replace="business/common/head_meta::head_meta"></head>
<title>Buza</title>
<body style="background:#fff;">
<div>
    <!-- Top Start -->
    <div th:replace="business/common/layout::businessTop"></div>
    <!-- //Top End -->
    <div class="business-container" id="business-container" v-loading="loading" style="padding-top:130px;">
        <h3>Contact</h3>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
</html>
