<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
<head xmlns:th="https://www.thymeleaf.org" th:replace="business/common/head_meta::head_meta"></head>
<title>Buza</title>
<body style="background:#fff;" id="body-container">
<div>
    <!-- Top Start -->
    <div th:replace="business/common/layout::businessTop"></div>
    <!-- //Top End -->
    <div class="business-container" id="business-container" v-loading="loading">
        <div class="business-tab01">
            <ul>
                <li v-for="item in menuList">
                    <a @click="handleMenuClick(item)" :class="{current: currentMenu === item.classificationId}">{{item.classificationName}}</a>
                </li>
            </ul>
        </div>
        <div class="business-post-list">
            <ul>
                <li v-for="item in itemList">
                    <p class="thumbs">
                        <a :href="'/post/' + item.postUuid + '.ahn'">
                            <img :src="item.postThumbnailBig" :alt="item.postTitle">
                        </a>
                    </p>
                    <dl>
                        <dt>
                            <a :href="'/post/' + item.postUuid + '.ahn'">{{item.postTitle}}</a>
                        </dt>
                        <dd>
                            <a href="#this"><strong>{{ item.postTypeName }}</strong></a>
                        </dd>
                    </dl>
                </li>
            </ul>

            <el-row style="margin: 2rem 0; text-align: center;" class="business_paging">
                <el-col>
                    <!-- layout="total, sizes, prev, pager, next, jumper"-->
                    <el-pagination
                            background
                            v-on:size-change="handleSizeChange"
                            v-on:current-change="handleCurrentChange"
                            v-bind:current-page="currentPage"
                            v-bind:page-sizes="pageSizes"
                            v-bind:page-size="pageSize"
                            layout="prev,pager, next"
                            v-bind:total="total">
                    </el-pagination>
                </el-col>
            </el-row>

        </div>
    </div>
    <div class="business-footer">

    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        new Vue({
            el: '#business-container',
            data() {
                return {
                    itemList: [],
                    menuList: [],
                    modifyUserItem: {},
                    selectedItem: {},
                    modalType: 1, // 1:新增权限/修改权限
                    loading: true,
                    currentPage: 1, //page
                    pageSize: 15, //limit
                    pageSizes: [15, 30, 50, 100],
                    total: 100,
                    activeTabName: 'searchTab',
                    drawer: false,
                    drawerTitle: 'Drawer Title',
                    currentMenu: '',
                }
            },
            mounted() {
                this.initMenu();
            },
            methods: {
                handleSizeChange(limit) {
                    this.currentPage = 1;
                    this.pageSize = limit;
                    this.initMainList(this.currentMenu);
                },
                handleCurrentChange(page) {
                    this.currentPage = page;
                    this.initMainList(this.currentMenu);
                },
                handleMenuClick(item) {
                    this.loading = true;
                    this.currentMenu = item.classificationId;
                    this.initMainList(item.classificationId);
                },
                async initMainList(postCategoryId) {
                    let _this = this;
                    const params = {
                        postCategoryId: postCategoryId
                    };
                    await axios.post(contextRootPath + "/business/post/list_by_category_id.do?page=" + _this.currentPage + "&limit=" + _this.pageSize, params)
                        .then((response) => {
                            if (response.data.code !== 0) {
                                gfn_Error(response.data.code, response.data.msg);
                            } else {
                                _this.itemList = response.data.data;
                                _this.total = response.data.total;
                                _this.loading = false;
                            }

                        })
                        .catch(responseError => {
                            _this.loading = false;
                            _this.$message.error(commonErrorMsg);
                        });
                },
                async initMenu() {
                    let _this = this;
                    const params = {
                        classificationType: 'BOARD_TYPE,01'
                    };
                    await axios.post(contextRootPath + "/business/post/menu.do", params)
                        .then(response => {
                            if (response.data.code !== 0) {
                                gfn_Error(response.data.code, response.data.msg);
                            } else {
                                console.log(response.data.data);
                                _this.menuList = response.data.data;
                                _this.currentMenu = _this.menuList[0].classificationId || '';
                                this.initMainList(this.currentMenu);
                            }
                        })
                        .catch(err => {
                            _this.loading = false;
                            _this.$message.error(commonErrorMsg);
                        });
                }

            }
        });
    });
</script>
</html>
