<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
<head xmlns:th="https://www.thymeleaf.org" th:replace="business/common/head_meta::head_meta"></head>
<title>Buza</title>
<body style="background:#fff;">
<div>
    <!-- Top Start -->
    <div th:replace="business/common/layout::businessTop"></div>
    <!-- //Top End -->
    <div class="business-post-detail-container" id="business-post-detail-container" v-loading="loading">
        <div class="business-post-detail">
            <input type="hidden" id="postUuid" v-model="postUuid" th:value="${postUuid}" />
            <p class="business-post-detail-category"><strong>{{ detailItem.postCategoryName }}</strong></p>
            <h1>{{detailItem.postTitle}}</h1>
            <div v-html="detailItem.postContent"></div>
        </div>
        <p class="btnRedirectList"><a th:href="${#httpServletRequest.getContextPath() + '/'}">< &nbsp;&nbsp;List</a> </p>
    </div>
    <div class="business-footer">

    </div>
</div>
<style type="text/css">
    .business-post-detail div[data-w-e-type="video"] {text-align: center}
    .business-post-detail p img {width: 100%;}
</style>
</body>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        new Vue({
            el: '#business-post-detail-container',
            data() {
                return {
                    detailItem: {},
                    loading: true,
                    currentPage: 1, //page
                    pageSize: 15, //limit
                    pageSizes: [15,30,50, 100],
                    total: 100,
                    activeTabName: 'searchTab',
                    drawer: false,
                    drawerTitle: 'Drawer Title',
                    postUuid: [[${postUuid}]] || '',
                }
            },
            mounted() {
                let _this = this;
                if (Tool.isEmpty(_this.postUuid)) {
                    BuzaRouter("/");
                } else {
                    this.initMainList(_this.postUuid);
                }
            },
            methods: {
                async initMainList(postUuid) {
                    let _this = this;
                    const params = {
                        postUuid: postUuid
                    }
                    await axios.get(contextRootPath + "/business/post/detail/" + postUuid + ".do", params)
                        .then((response) => {
                            _this.detailItem = response.data.data;
                            _this.loading = false;
                        })
                        .catch(err => {
                            _this.loading = false;
                            alert("Get Data Error！Retry！");
                            BuzaRouter("/");
                        });
                },
            }
        });
    });
</script>
</html>
