<!doctype html>
<html class="h-full bg-gray-100" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="https://www.thymeleaf.org" th:replace="admin/common/head_meta::head_meta"></head>
<title>Buza Management System</title>
<body class="h-full">

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('productData', () => ({
            productName: '',
            productCode: '',
            productInfo: '',
            saveProduct() {
                let _this = this;
                var params = {
                    productName: _this.productName
                    ,productCode: _this.productCode
                    ,productInfo: _this.productInfo
                };

                if (_this.productName.trim() !== "") {
                    axios.post(contextRootPath + "/api/ecommerce/product/proc.do", params)
                        .then(response => {
                            if (response.data.code !== 0) {
                                gfn_Error(response.data.code, response.data.msg);
                            } else {
                                console.log(response);
                            }
                        })
                        .catch(error => {
                            _this.loading = false;
                            _this.$message.error("Request Error!(Post Type)")
                        })
                } else {
                    alert("상품명은 공백일수없습니다. ");
                }
            }
        }));
    });


</script>

<div class="mx-auto" x-data="productData()">

    <div th:replace="admin/common/layout::top"></div>


    <header class="bg-white shadow-sm">
        <div class="mx-auto px-4 py-4 sm:px-6 lg:px-8">
            <h1 class="text-lg font-semibold leading-6 text-gray-900">신규 상품 등록</h1>
        </div>
    </header>
    <main>
        <div class="mx-auto py-6 sm:px-6 lg:px-8" >
            <!-- Content Start -->
            <div class="bg-white pt-2 rounded-lg px-4 sm:px-6 lg:px-8" x-data="{optionBox : false}">
                <div class="mt-4 flow-root">
                    <!-- Product Create Start -->
                    <div class="container">
                        <div class="">
                            <fieldset class="">
                                <label class="text-base text-sm text-gray-900">진열상태</label>
                                <legend class="sr-only">Notification method</legend>
                                <div class="space-y-4 sm:flex sm:items-center sm:space-x-10 sm:space-y-0">
                                    <div class="flex items-center">
                                        <input id="email" name="notification-method" type="radio" checked class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                        <label for="email" class="ml-3 block text-sm font-medium leading-6 text-gray-900">진열함</label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="sms" name="notification-method" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                        <label for="sms" class="ml-3 block text-sm font-medium leading-6 text-gray-900">진열안함</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="grid gap-4 grid-cols-2 mt-4">
                            <div>
                                <label for="productName" class="block text-sm font-medium leading-6 text-gray-900">상품명</label>
                                <div class="">
                                    <input type="text" x-model="productName" name="productName" id="productName" class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>
                            <div>
                                <label for="productCode" class="block text-sm font-medium leading-6 text-gray-900">상품명</label>
                                <div class="">
                                    <input type="text" x-model="productCode" name="productName" id="productCode" class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <label for="productInfo" class="block text-sm font-medium leading-6 text-gray-900">상품 요약설명</label>
                            <div class="">
                                <input type="text" x-model="productInfo" name="productName" id="productInfo" class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                    </div>

                    <div class="grid gap-4 grid-cols-3">
                        <div class="mt-4">
                            <label class="block text-sm font-medium leading-6 text-gray-900">메인이미지(PLP썸네일)</label>
                            <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-3 py-2">
                                <div class="text-center">
                                    <svg class="mx-auto h-60 w-60 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                                    </svg>
<!--                                    <img src="https://tailwindui.com/img/ecommerce-images/order-history-page-06-product-01.jpg" alt="" class="inline-block h-60 w-60 rounded-lg ">-->
                                    <div class="mt-4 flex text-sm leading-6 text-gray-600">
                                        <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                                            <span>Upload a file</span>
                                            <input id="file-upload" name="file-upload" type="file" class="sr-only">
                                        </label>
                                        <p class="pl-1"><span class="text-xs leading-5 text-gray-600">(PNG, JPG, GIF up to 10MB)</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 col-span-2">
                            <label class="block text-sm font-medium leading-6 text-gray-900">카테고리 선택</label>
                            <select id="lgCategory" name="lgCategory" class="mt-2 inline-block w-100 rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <option>United States</option>
                                <option selected>Canada</option>
                                <option>Mexico</option>
                            </select>
                            <select id="mdCategory" name="mdCategory" class="mt-2 inline-block w-100 rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <option>United States</option>
                                <option selected>Canada</option>
                                <option>Mexico</option>
                            </select>
                            <select id="sbCategory" name="sbCategory" class="mt-2 inline-block w-100 rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <option>United States</option>
                                <option selected>Canada</option>
                                <option>Mexico</option>
                            </select>
                        </div>
                    </div>


                    <div class="mt-6 flex items-center justify-end gap-x-6" >
                        <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
                        <button @click="saveProduct" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
                    </div>
                    <!-- //Product Create End -->
                </div>
            </div>
            <!-- //Content End -->
        </div>
    </main>
</div>



<script type="text/javascript">


    $(document).ready(function(){


        // $("#save").unbind('click').click(function() {
        //     var params = {
        //
        //     }
        //     axios.post(contextRootPath + "/api/common_code/type/list.do?codeType=POST_TYPE")
        //         .then(response => {
        //             if (response.data.code !== 0) {
        //                 gfn_Error(response.data.code, response.data.msg);
        //             } else {
        //                 _this.postTypeList = response.data.data;
        //             }
        //         })
        //         .catch(error => {
        //             _this.loading = false;
        //             _this.$message.error("Request Error!(Post Type)")
        //         })
        // });
    });
</script>


<div th:replace="admin/common/layout::footer"></div>
</body>
</html>
