<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="https://www.thymeleaf.org" th:replace="admin/common/head_meta::head_meta"></head>
<title>Buza Management System</title>
<body class="easyui-layout">
<div th:replace="admin/common/layout::top"></div>
<div th:replace="admin/common/layout::footer"></div>
<div th:replace="admin/common/layout::nav"></div>
<div data-options="region:'center'" class="center_container">
    <div class="main-contents">
        <!-- Main Contents Start -->

        <!-- //Main Contents End -->
    </div>
</div>
</body>
</html>