<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.buza.blog.dao.WechatMapper">

    <select id="getPostListByCodeName" parameterType="online.buza.blog.dto.TbPostDto" resultType="online.buza.blog.dto.TbPostDto">
        <![CDATA[
        SELECT	T1.POST_ID
                ,T1.POST_TYPE
                ,T1.POST_CATEGORY_ID
                ,T1.POST_TITLE
                ,T1.POST_CONTENT
                ,T1.EVENT_START_TIME
                ,T1.EVENT_END_TIME
                ,T1.POST_THUMBNAIL_SMALL
                ,T1.POST_THUMBNAIL_BIG
                ,T1.POST_AUTHOR
                ,T1.IS_JOIN
                ,T1.IS_NEED_PAY
                ,T1.POST_PRICE
                ,T1.STATUS
                ,T1.OPTION01
                ,T1.OPTION02
                ,T1.OPTION03
                ,T1.OPTION04
                ,T1.OPTION05
                , DATE_FORMAT(T1.CREATE_TIME, '%Y-%m-%d') AS CREATE_TIME
                , DATE_FORMAT(T1.UPDATE_TIME, '%Y-%m-%d') AS UPDATE_TIME
        FROM	tb_post T1
        WHERE	T1.POST_TYPE = #{postType}
        AND     T1.STATUS = '1'
        AND		EXISTS	(
                        SELECT	1
                        FROM	tb_common_code A1
                        WHERE	A1.USE_YN = '1'
                        AND		A1.CODE_ID = T1.POST_TYPE
                        AND		A1.CODE_TYPE = 'POST_TYPE'
                        )
        ]]>
    </select>

    <select id="getPostDetailByPostId" parameterType="java.lang.Integer" resultType="online.buza.blog.dto.TbPostDto">
        <![CDATA[
        SELECT	T1.POST_ID
                ,T1.POST_TYPE
                ,T1.POST_CATEGORY_ID
                ,T1.POST_TITLE
                ,T1.POST_CONTENT
                ,T1.EVENT_START_TIME
                ,T1.EVENT_END_TIME
                ,T1.POST_THUMBNAIL_SMALL
                ,T1.POST_THUMBNAIL_BIG
                ,T1.POST_AUTHOR
                ,T1.IS_JOIN
                ,T1.IS_NEED_PAY
                ,T1.POST_PRICE
                ,T1.STATUS
                ,T1.OPTION01
                ,T1.OPTION02
                ,T1.OPTION03
                ,T1.OPTION04
                ,T1.OPTION05
                , DATE_FORMAT(T1.CREATE_TIME, '%Y-%m-%d') AS CREATE_TIME
                , DATE_FORMAT(T1.UPDATE_TIME, '%Y-%m-%d') AS UPDATE_TIME
        FROM	tb_post T1
        WHERE   T1.STATUS = '1'
        AND     T1.POST_ID = #{postId}
        ]]>
    </select>

    <select id="getCustomerInfoByDto" parameterType="online.buza.blog.dto.TbCustomerDto" resultType="online.buza.blog.dto.TbCustomerDto">
        <![CDATA[
        SELECT  CUSTOMER_ID
                ,T1.WEIXIN_OPEN_ID
                ,T1.WEIXIN_UNION_ID
                ,T1.USERNAME
                ,T1.PASSWORD
                ,T1.MOBILE_NO
                ,T1.NICKNAME
                ,T1.GRADE
                ,T1.CUSTOMER_TYPE
                ,T1.REALNAME
                ,T1.BIRTHDAY
                ,T1.SEX
                ,T1.EMAIL
                ,T1.COUNTRY
                ,T1.PROVINCE
                ,T1.CITY
                ,T1.ADDRESS
                ,T1.STATUS
                ,T1.WECHAT_ID
                ,T1.OPTION01
                ,T1.OPTION02
                ,T1.OPTION03
                ,T1.OPTION04
                ,T1.OPTION05
                ,DATE_FORMAT(T1.CREATE_TIME, '%Y-%m-%d') AS CREATE_TIME
                ,DATE_FORMAT(T1.UPDATE_TIME, '%Y-%m-%d') AS UPDATE_TIME
        FROM    tb_customer T1
        WHERE   T1.STATUS = '1'
        AND     T1.WEIXIN_OPEN_ID = #{openId}
        ORDER BY T1.CREATE_TIME DESC
        LIMIT 0,1
        ]]>
    </select>

    <select id="getCustomerInfoById" parameterType="online.buza.blog.dto.TbCustomerDto" resultType="online.buza.blog.dto.TbCustomerDto">
        <![CDATA[
        SELECT  CUSTOMER_ID
             ,T1.WEIXIN_OPEN_ID
             ,T1.WEIXIN_UNION_ID
             ,T1.USERNAME
             ,T1.PASSWORD
             ,T1.MOBILE_NO
             ,T1.NICKNAME
             ,T1.GRADE
             ,T1.CUSTOMER_TYPE
             ,T1.REALNAME
             ,T1.BIRTHDAY
             ,T1.SEX
             ,T1.EMAIL
             ,T1.COUNTRY
             ,T1.PROVINCE
             ,T1.CITY
             ,T1.ADDRESS
             ,T1.STATUS
             ,T1.WECHAT_ID
             ,T1.OPTION01
             ,T1.OPTION02
             ,T1.OPTION03
             ,T1.OPTION04
             ,T1.OPTION05
             ,DATE_FORMAT(T1.CREATE_TIME, '%Y-%m-%d') AS CREATE_TIME
             ,DATE_FORMAT(T1.UPDATE_TIME, '%Y-%m-%d') AS UPDATE_TIME
        FROM    tb_customer T1
        WHERE   T1.STATUS = '1'
          AND     T1.CUSTOMER_ID = #{customerId}
        ORDER BY T1.CREATE_TIME DESC
            LIMIT 0,1
        ]]>
    </select>

</mapper>

