<div th:fragment="bottom_script">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.scrollex.min.js}"></script>
    <script th:src="@{/js/jquery.scrolly.min.js}"></script>
    <script th:src="@{/js/browser.min.js}"></script>
    <script th:src="@{/js/breakpoints.min.js}"></script>
    <script th:src="@{/js/util.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/vue.2.7.10.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/element-ui.2.15.7.min.js}"></script>
</div>