<div th:fragment="businessTop">
    <div class="business-header" id="business-header">
        <div class="business-header-con">
            <h1>
                <a th:href="${#httpServletRequest.getContextPath() + '/'}" style="font-weight: 100; color:#232324">추노's log</a>
            </h1>

            <div class="main-menu">
                <ul>
                    <li><a href="/">포스트</a></li>
                    <li><a href="/life.ahn" v-if="">정리&생각</a></li>
                    <li><a href="/contact.ahn">Contact Me</a></li>
                </ul>
            </div>
            <div class="main-etc-menu">
                <a style="display:inline-block; margin-right:14px;line-height: 1.8" href="/login.ahn">로그인/회원가입</a>
<!--                <a style="cursor: pointer;" @click="handleSearch()">-->
<!--                    <svg width="25" height="25" t="1670472349257" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3270"><path d="M945.066667 898.133333l-189.866667-189.866666c55.466667-64 87.466667-149.333333 87.466667-241.066667 0-204.8-168.533333-373.333333-373.333334-373.333333S96 264.533333 96 469.333333 264.533333 842.666667 469.333333 842.666667c91.733333 0 174.933333-34.133333 241.066667-87.466667l189.866667 189.866667c6.4 6.4 14.933333 8.533333 23.466666 8.533333s17.066667-2.133333 23.466667-8.533333c8.533333-12.8 8.533333-34.133333-2.133333-46.933334zM469.333333 778.666667C298.666667 778.666667 160 640 160 469.333333S298.666667 160 469.333333 160 778.666667 298.666667 778.666667 469.333333 640 778.666667 469.333333 778.666667z" p-id="3271"></path></svg>-->
<!--                </a>-->
<!--                <a class="btnLogin"th:href="${#httpServletRequest.getContextPath() + '/login.ahn'}">로그인</a>-->
                <a href="#this" @click="handleSubMenuClick()" class="btn-small-menu">
                    <svg  width="25" height="25" t="1669357482073" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="997"><path d="M128 768h768v-85.333333H128v85.333333z m0-213.333333h768v-85.333334H128v85.333334z m0-298.666667v85.333333h768V256H128z" p-id="998"></path></svg>
                </a>
            </div>
        </div>

        <div class="main-sub-menu" v-show="mainSubMenuFlag">
            <ul>
                <li><a href="/">Post</a></li>
                <li><a href="/life.ahn">정리&생각</a></li>
                <li><a href="/contact.ahn">Contact Me</a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            new Vue({
                el: '#business-header',
                data() {
                    return {
                        mainSubMenuFlag: false
                    }
                },
                mounted() {
                    $(".main-menu ul li").each(function(idx, elem) {
                        $(elem).find("a").removeClass("active");
                        if ($(elem).find("a").attr("href") == window.location.pathname) {
                            $(elem).find("a").addClass("active");
                        }
                    });
                },
                methods: {
                    handleSearch() {
                        this.$message.info("준비중입니다.");
                    },
                    handleSubMenuClick() {
                        this.mainSubMenuFlag = !this.mainSubMenuFlag;
                    }
                }
            });
        });
    </script>

</div>
